<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/pagestyle.css" rel="stylesheet" type="text/css" >
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body style="background-color:#cce5ff;">
        <header>
            <nav>
                <ul>
                    <li><a href="#">Agentes</a></li>
                    <li><a href="#">Destinos</a></li>
                    <li><a href="#">Países</a></li>
                    <li><a href="#">Reservas</a></li>
                    <li><a href="#">Aerolíneas</a></li>
                </ul>
            </nav>
        </header>
    </body>
</html>
